[Unit]
Description=Servicio de Saludo

[Service]
ExecStart=/ruta/del/script/saludo.sh
Restart=always
User=nombre_de_usuario

[Install]
WantedBy=default.target
